<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Driv.in - The YouTube battle party</title>

    <meta name="description" content="Social video experience in a digital drive-in">
    <meta name="author" content="Go Horse Brazil">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nunito" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/room.css">
</head>

<body>

<div id="drive-in">

    <section id="stage">
        <h1><a href="/"><img src="/img/logo-drivin.png" alt="Driv.in"/></a></h1>

        <div id="video-player">
            <input type="text" id="room-title" name="" value="Ops! Something wrong..." readonly>

            <img src="/img/error.png" width="600" height="340">
            
            <div style="position:absolute; top:90px; left:20px; color:#fff;">
                <div style="margin:0 0 10px; font-family:Nunito, Arial, sans-serif; font-size:26px;">ERROR</div>

                <div>The page you're trying to access does not exist.... :(</div>
            </div>
        </div>

    </section>

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25382569-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>

</html>



