html, body {
    height:100%;
    overflow:hidden;
}

body {
    background-image:url(/img/bg-clouds.jpg), url(/img/bg-wall.png), url(/img/bg-asphalt-topo.png), url(/img/bg-asphalt.png);
    background-position: left top, left 337px, left 400px, left 1000px;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat;
}

a#button-mute {
    position:absolute;
    display:block;
    top:30px;
    right:15px;
    width:40px;
    height:40px;
    text-indent:-5000px;
    background:url(/img/button-mute.png) transparent 0 0 no-repeat;
    overflow:hidden;
}

a#button-mute:hover {
    background:url(/img/button-mute.png) transparent -50px 0 no-repeat;
}

a#button-mute.muted {
    background:url(/img/button-mute.png) transparent -100px 0 no-repeat;
}

a#button-mute.muted:hover {
    background:url(/img/button-mute.png) transparent -150px 0 no-repeat;
}

a.button-tomatoes {
    position:absolute;
    display:block;
    top:20px;
    right:0;
    width:305px;
    height:70px;
    text-indent:-5000px;
    background:url(/img/button-tomatoes.png) transparent 0 0 no-repeat;
    overflow:hidden;
    outline: 0;
}

a.button-tomatoes:hover {
    background:url(/img/button-tomatoes.png) transparent 0px -90px no-repeat;
}

ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

aside#panels {
    position:fixed;
    top:0;
    right:0;
    width:300px;
    height:100%;
    font-size:11px;
    background-color:#fff;
    border-left:1px solid #ccc;
    box-shadow: -1px 0 5px 0 rgba(0,0,0, 0.2);
    z-index:15;
}

aside#panels input {
    padding:0 10px;
    width:180px;
    height:34px;
    color:#999;
    font-size:13px;
    border-color:#b6b6b6 #dcdcdc #dcdcdc #b6b6b6;
    border-width:1px;
    border-style:inset;
    border-radius:5px;
}


aside#panels input:focus {
    color:#333;
}

aside#panels button {
    margin-left:-10px;
    padding:6px 12px;
    height:36px;
    color:#693;
    font-size:13px;
    font-weight:bold;
    border-radius: 5px;
    border-width: 1px;
    border-color:#dcdcdc #b7b7b7 #b7b7b7 #dcdcdc;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(217,217,217)),
        color-stop(0.71, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(217,217,217) 0%,
        rgb(255,255,255) 71%
    );
}

div#drive-in {
    position:relative;
    width:100%;
    height:100%;
}



div#video-audience {
    position:absolute;
    top:500px;
    bottom:20px;
    left:0;
    width:100%;
    height:200px;
    z-index:10;
}

div#video-audience div.user {
    position:absolute;
    text-align:center;
}

div#video-audience span.user-balloon {
    position:absolute;
    display:none;
    margin-left:-90px;
    margin-bottom:-10px;
    padding:20px 10px;
    bottom:100%;
    left:50%;
    width:160px;
    height:90px;
    color:#fff;
    background:url(/img/bg-chat-balloon.png) transparent repeat-x 0 0;
}

div#video-audience span.user-balloon strong {
    display:block;
    margin-bottom:3px;
    color:#6fb515;
}

div#video-audience div#user-space {
    position:absolute;
    top:30px;
    bottom:30px;
    left:30px;
    right:330px;
}

div#video-player {
    position:absolute;
    top:20px;
    left:50%;
    margin-left:-305px;
    padding:70px 10px 0;
    width:590px;
    height:370px;
    background:url(/img/bg-bigscreen.png) transparent repeat-x 0 0;
    z-index:5;
}

div#video-player input#room-title {
    position:absolute;
    top:5px;
    left:160px;
    width:284px;
    height:41px;
    color:#000;
    font-family:Nunito,Arial,sans-serif;
    font-size:26px;
    text-align:center;
}

div#video-player input#room-title.edit-mode {
    color:#999;
}

footer {
    position:relative;
    text-align:center;
}

h1 {
    position:absolute;
    margin:30px;
    width:134px;
    height:35px;
    text-indent:-5000px;
    background:url(/img/logo-drivin.png) transparent no-repeat 0 0;
    overflow:hidden;
}

h2 {
    margin:0;
    padding:6px 10px;
    color:#fff;
    font-size:12px;
    font-weight:normal;
    line-height:1em;
    text-transform:uppercase;
    border-bottom:1px solid #5a8c19;
    background: #8cc444;
    background: -moz-linear-gradient(top, #8cc444 0%, #659d1d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cc444), color-stop(100%,#659d1d));
    background: -webkit-linear-gradient(top, #8cc444 0%,#659d1d 100%);
    background: -o-linear-gradient(top, #8cc444 0%,#659d1d 100%);
    background: -ms-linear-gradient(top, #8cc444 0%,#659d1d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cc444', endColorstr='#659d1d',GradientType=0 );
    background: linear-gradient(top, #8cc444 0%,#659d1d 100%);
}

h3 {
    margin:0;
    padding:8px 0;
    color:#666;
    font-size:11px;
    font-weight:normal;
    text-transform:uppercase;
}

header {
    position:relative;
}



/* CHAT PANEL */


section#chat {
    position:absolute;
    top:350px;
    bottom:0;
    width:100%;
}

section#chat div.gradient {
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:20px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

section#chat div#user-info {
    padding:10px 0;
    text-align:center;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    background: linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    border-bottom:1px solid #d6d6d6;
}

section#chat footer {
    position:absolute;
    bottom:0;
    width:100%;
    padding:10px 0;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    background: linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    border-bottom:1px solid #d6d6d6;
    border-top:1px solid #ddd;
}

section#chat input#message {
    width:86%;
}

section#chat input#user-name {
    width:200px;
}

section#chat li {
    margin:10px 0;
}

section#chat section {
    position:absolute;
    top:82px;
    bottom:58px;
    width:100%;
    overflow-y:scroll;
}

section#chat ul {
    padding:5px 5px 5px 10px;
    font-size:12px;
}


/* PLAYLIST PANEL */

section#playlist footer {
    padding:10px 0;
}

section#playlist img {
    margin:0 5px 0 0;
    vertical-align:middle;
}

section#playlist ul {
    height:104px;
    white-space:nowrap;
    overflow-x:hidden;
    overflow-y:scroll;
    border-top:1px solid #eee;
}

section#playlist ul a {
    display:block;
    color:#666;
    font-size:12px;
    text-decoration:none;
    clear:both;
}

section#playlist ul li {
    height: 35px;
    background: url(/img/bg-playlist.png) repeat-y scroll 0 0;
}

section#playlist ul li img {
    width:  45px;
    height: 34px;
}

section#playlist ul li:first-child {
    border-top:0;
}

section#playlist-queue {
    margin:8px 10px;
}

section#playlist-queue ul {
    border:1px solid #eee;
    background: url(/img/bg-playlist.png) repeat-y scroll 0 0;
    border-width:1px 0;
}

section#playlist-now {
    position:relative;
    margin:12px 10px 70px;
}


section#playlist-now marquee.video-name {
    position:absolute;
    top:5px;
    left:40px;
    width:190px;
    font-size:16px;
    font-weight:bold;
}

section#playlist-now span.video-duration {
    position:absolute;
    top:5px;
    right:0;
    color:#666;
    font-size:16px;
}



/* STAGE */

section#stage {
    position:relative;
    margin-right:300px;
    height:100%;
}

